.container {
  background-image: url("../../assets//background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(242, 242, 242);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LogoContainer {
  height: 2rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogoContainer img {
  height: 1.5rem;
  width: 1.5rem;
}

.LogoContainer h3 {
  font-size: 1rem;
}

.MainContainer {
  background: white;
  height: 20rem;
  margin-top: 4rem;
  width: 18rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 8%) 0px 10px 20px 0px;
}

.InfoContainer {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(189, 186, 186);
}

.InfoContainer img {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.NameAndNoOfTaskContainer h3,
.NameAndNoOfTaskContainer p {
  margin: 0;
}

.NameAndNoOfTaskContainer p {
  color: rgb(136, 136, 136);
}
.taskInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.taskInput {
  width: 90%;
  border: none;
  height: 1.5rem;
  font-size: 1.2rem;
  padding: 1rem 0;
  border-bottom: #888 1px solid;
}

.enterButton {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 0.5rem;
}

.container .phoneFooterButton {
  display: none;
}

.webFooter {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.webFooter .button {
  background-color: #fff;
  border-radius: 1rem;
}

.phoneFooter {
  display: none;

  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.webFooter div {
  display: flex;
  align-self: flex-end;
}
.phoneFooterAvatar {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.SignOutButton:hover {
  cursor: pointer;
}

@media (max-width: 525px) {
  .MainContainer {
    width: 70%;
  }

  .webFooter {
    display: none;
  }

  .container .phoneFooterButton {
    display: inline-flex;
    width: 7rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 2rem;
    align-self: flex-start;
    position: absolute;
    bottom: 4rem;
    background-color: #fff;
  }

  .phoneFooter {
    display: flex;
  }
}
