.MainPart {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  background-color: #fff;
  width: 90%;
  margin: 1rem auto;
}

.MainPart p {
  text-align: center;
  width: 40%;
  margin: auto;
}

.MainPart button {
  margin: 15px auto;
  display: block;
  background-color: black;
  color: white;
  padding: 15px 25px;
  font-size: 1.2rem;
  border: none;
}

.MainPart button:hover {
  background-color: #61e178;
  color: #fff;
  cursor: pointer;
}

.MainVideo {
  display: block;
  width: 50%;
  margin: auto;
}

@media (max-width: 48rem) {
  .title {
    font-size: 2.5rem;
  }

  .MainPart p {
    width: 90%;
  }
}
